:root{
    --primary-color: #D16104;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;  /*1ren = 16px*/
    line-height: 1.5;
    color: var(--primary-color);
}

#showcase{
    background-image: url(../img_landing/foto.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
}

#showcase::after{
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

h1, p, a{
    z-index: 2;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
    background-color: var(--primary-color);
    padding: 3px;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.8s ease;
}

#section-a{
    padding: 20px;
    text-align: center;
}

#section-b{
    background-color: #f4f4f4;
}

#section-c{
    display: flex;
}

.fonsOrange{
    background-color: var(--primary-color);
    color: #fff;
}

div{
    padding: 20px;
}

a:hover {
    color: var(--primary-color);
    background-color: transparent;
}

.link{
    color: var(--primary-color);
    cursor: pointer;
    background-color: #f4f4f4;
    align-items: center;
}

.capçalera{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}