input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus,
textarea:focus {
    border-color: blue;
    outline: none;
}