table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
    text-align: center;
    border: 1px solid purple;
}


.dia{
    color: black;
    text-align: center;
    background-color: rgb(134, 134, 229);
}

.titol{
    color: black;
    text-align: center;
    background-color: rgb(212, 212, 212);
}

.hora{
    color: black;
    text-align: center;
    background-color: #7df396;
}

.pati{
    color: black;
    text-align: center;
    background-color: rgb(233, 211, 170)
}

.sistema{
    color: white;
    text-align: center;
    background-color: #088000;
}

.seguretat{
    color: black;
    text-align: center;
    background-color: #84818E;
}

.web{ 
    color: black;
    text-align: center;
    background-color: #8DEE00;
}

.servei{
    color: white;
    text-align: center;
    background-color: #290087;
}

.empresa{
    color: black;
    text-align: center;
    background-color: #4ABD8C;
}